@font-face {
  font-family: Inconsolata;
  font-weight: 300;
  src: url(fonts/inconsolata-thin.woff2);
}

@font-face {
  font-family: Inconsolata;
  font-weight: 400;
  src: url(fonts/inconsolata-regular.woff2);
}

@font-face {
  font-family: Inconsolata;
  font-weight: 500;
  src: url(fonts/inconsolata-medium.woff2);
}

@font-face {
  font-family: Inconsolata;
  font-weight: 600;
  src: url(fonts/inconsolata-semibold.woff2);
}

@font-face {
  font-family: Inconsolata;
  font-weight: 700;
  src: url(fonts/inconsolata-bold.woff2);
}

@font-face {
  font-family: Inconsolata;
  font-weight: 800;
  src: url(fonts/inconsolata-black.woff2);
}

:root {
  font-family: Inconsolata, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: hsla(0, 0%, 100%, 0.87);
  background-color: hsl(0, 0%, 14%);

  --black: hsl(0, 0%, 14%);
  --white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
}

body > main > section {
  container: section / inline-size;
  margin: 0 10cqi;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.1;
}

a {
  font-size: 1rem;
  text-decoration: none;
}

/* MENU */
nav {
  padding: 3cqi;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav ul {
  display: flex;
  gap: 1.5rem;

  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
}

/* HERO */
canvas {
  display: none;
}

/* ABOUT */


/* WORK */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@container section (min-width: 48em) {
  canvas {
    display: block;
  }
}
